*{
    margin: 0;
    padding: 0;
}

#page1{

    min-height: 100vh;
    background-image: linear-gradient(#F1BF98, #E1F4CB);

}


#page1 h1{
    color: red;
}

.page2{

    min-height: 100vh;
    background-image: linear-gradient( #E1F4CB,#BACBA9);
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 1vh;
    padding-right: 2vw;

}
nav img{
    height: 10vh;
    padding-left: 2vw;
 
}



nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}
.anc:hover{
    color: beige;
}

.nav-container{
    display: flex;
    align-items: center;
    gap : 3vw;
}


.bob{
    position: relative;
    left: 50vw;
    top: 30vh;
    background-color:#BACBA9 ;
    height: 10vh;
    width: 50vw;

    filter: blur(25px);
    animation-name: animate1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes animate1 {
    from{
        transform: translate(20%,20%);

    }
    to{
        transform: translate(-20%,-30%);
    }
    
}