*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: beige;
}



#page1{

   height: 100vh;

    position: relative;

}
.videobg{
    position: fixed; /* or absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.page2{

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerpage1{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#main-text{
    font-size: 6vw;
    color: beige;
}

#side-text{
    font-size: 1vw;
    color: beige;
    font-weight: 500;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;

    padding-top: 1vh;

    position: fixed;
    z-index: 100;
    height: 10vh;

}


nav img{
    height: 10vh;
    padding-left: 2vw;
 
}



nav a{
    text-decoration: none;
    color: beige;
    font-size: 1.2vw;
    border:  #fff; /* Add a white border */

    border-radius: 20px;
}
.anc:hover{
    color: white;
}

.nav-container{
    display: flex;
    align-items: center;
    gap : 3vw;
    padding: 3vw;
}



.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 5vw;


  
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    min-width: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
  
    padding-top: 3vh;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;

    gap: 3vh;

  }